# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home3/ndnbcomn/demo.ndnb"
PassengerBaseURI "/"
PassengerNodejs "/home3/ndnbcomn/nodevenv/demo.ndnb/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
